@import url('https://fonts.cdnfonts.com/css/snowstorm');

                
h1{
    font-family: 'Snowstorm', sans-serif;                                         
    font-size: 24px;
    margin: 0;
    color: white;
    flex-grow: 1; /* Permite que el h1 crezca y ocupe el espacio disponible */
    text-align: center; /* Centra el texto horizontalmente */
    margin: 0; /* Elimina los márgenes predeterminados del h1 */
    
}

div.Misiones{
    background-color: rgba(75, 152, 103, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;

}

image img{
    width: 28px;
}

image{
   padding: 5px 10px 5px ;
}

div.tipos_misiones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    
}

img.boton{
    width: fit-content;
    height: fit-content;
}

.CategoryButton{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    width: fit-content;
}